#########################################
#Configure OSPF
#########################################
interface Loopback0
 ip address 192.168.74.13 255.255.255.255
 no shutdown
 exit

router ospf 1
 router-id 192.168.74.13
 passive-interface default
 default-information originate
 exit

#########################################
#Configure ASAv Uplinks
#########################################
interface g8
 ip address 192.168.65.5 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown exit

interface g9
 ip address 192.168.65.11 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface g10
 ip address 192.168.65.17 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

#########################################
#Configure ISP Uplinks
#########################################
##Interfaces
interface g1
 ip address 203.0.113.4 255.255.255.240
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no cdp enable
 no lldp transmit
 no lldp receive
 no shutdown
 exit

interface g2
 ip address 203.0.113.20 255.255.255.240
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no cdp enable
 no lldp transmit
 no lldp receive
 no shutdown
 exit

##IP SLA
ip sla 1
 icmp-echo 203.0.113.1 source-interface g1
 frequency 30
 exit
ip sla schedule 1 life forever start-time now

ip sla 2
 icmp-echo 203.0.113.17 source-interface g2
 frequency 30
ip sla schedule 2 life forever start-time now

track 1 ip sla 1 reachability
track 2 ip sla 2 reachability

#########################################
#Configure ISP Uplinks
#########################################
ip route 0.0.0.0 0.0.0.0 203.0.113.1 10 track 1
ip route 0.0.0.0 0.0.0.0 203.0.113.17 10 track 2