#########################################
#Configure OSPF
#########################################
interface Loopback0
 ip address 192.168.74.9 255.255.255.255
 no shutdown
 exit

router ospf 1
 router-id 192.168.74.9
 passive-interface default
 default-information originate always
 no passive-interface g9
 no passive-interface g10
 no passive-interface g11
 exit

#########################################
#Configure ASAv Uplinks
#########################################
interface g9
 ip address 192.168.65.3 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown exit

interface g10
 ip address 192.168.65.9 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface g11
 ip address 192.168.65.15 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

#########################################
#Configure ISP Uplinks
#########################################
##Interfaces
interface g1
 ip address 203.0.113.3 255.255.255.240
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no cdp enable
 no lldp transmit
 no lldp receive
 no shutdown
 exit

interface g2
 ip address 203.0.113.19 255.255.255.240
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no cdp enable
 no lldp transmit
 no lldp receive
 no shutdown
 exit

interface g3
 ip address 198.51.100.3 255.255.255.240
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no cdp enable
 no lldp transmit
 no lldp receive
 no shutdown
 exit

interface g4
 ip address 198.51.100.19 255.255.255.240
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no cdp enable
 no lldp transmit
 no lldp receive
 no shutdown
 exit

interface g5
 ip address 192.0.2.3 255.255.255.240
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no cdp enable
 no lldp transmit
 no lldp receive
 no shutdown
 exit

interface g6
 ip address 192.0.2.19 255.255.255.240
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no cdp enable
 no lldp transmit
 no lldp receive
 no shutdown
 exit

#IP SLA
ip sla 1
 icmp-echo 203.0.113.1 source-interface g1
 frequency 30
 exit
ip sla schedule 1 life forever start-time now

ip sla 2
 icmp-echo 203.0.113.17 source-interface g2
 frequency 30
 exit
ip sla schedule 2 life forever start-time now

ip sla 3
 icmp-echo 198.51.100.1 source-interface g3
 frequency 30
 exit
ip sla schedule 3 life forever start-time now

ip sla 4
 icmp-echo 198.51.100.17 source-interface g4
 frequency 30
 exit
ip sla schedule 4 life forever start-time now

ip sla 5
 icmp-echo 192.0.2.1 source-interface g5
 frequency 30
 exit
ip sla schedule 5 life foreve start-time now

ip sla 6
 icmp-echo 192.0.2.17 source-interface g6
 frequency 30
 exit
ip sla schedule 6 life forever start-time now

track 1 ip sla 1 reachability
 exit
track 2 ip sla 2 reachability
 exit
track 3 ip sla 3 reachability
 exit
track 4 ip sla 4 reachability
 exit
track 5 ip sla 5 reachability
 exit
track 6 ip sla 6 reachability
 exit

#########################################
#Configure ISP Uplinks
#########################################
ip route 0.0.0.0 0.0.0.0 203.0.113.1 10 track 1
ip route 0.0.0.0 0.0.0.0 203.0.113.17 10 track 2
ip route 0.0.0.0 0.0.0.0 198.51.100.1 10 track 3
ip route 0.0.0.0 0.0.0.0 198.51.100.17 10 track 4
ip route 0.0.0.0 0.0.0.0 192.0.2.1 50 track 5
ip route 0.0.0.0 0.0.0.0 192.0.2.17 50 track 6