#########################################
#Configure OSPF
#########################################
interface Loopback0
 ip address 192.168.74.9 255.255.255.255
 no shutdown
 exit

router ospf 1
 router-id 192.168.74.9
 passive-interface default
 default-information originate
 exit