#VTP Config
vtp mode transparent
vtp domain NEXACORE
vtp version 3
vtp password h4&2NoDlrEsMY51^ZjV7y*Y^#*6W5Z

#VLANS
vlan 10
name mgmt
exit
vlan 900
name native
exit
vlan 999
name blackhole
exit

#Enable Horizontal link if uplink fails
interface e0/1
 switchport mode trunk
 switchport trunk allowed vlan [vlans de esa planta]
 switchport nonegotiate
 no spanning-tree portfast
 no spanning-tree bpduguard enable
 spanning-tree cost 9999999