#VLANs
vlan 10
name mgmt
exit
vlan 30
name dev
exit
vlan 80
name soc
exit
vlan 90
name voip
exit
vlan 100
name print
exit
vlan 110
name wifi-corp
exit
vlan 130
name itops
exit
vlan 140
name qa
exit
vlan 900
name native
exit
vlan 999
name blackhole
exit