#########################################
#VLANs
#########################################
vlan 10
name mgmt
exit
vlan 90
name voip
exit
vlan 100
name print
exit
vlan 110
name wifi-corp
exit
vlan 120
name wifi-guest
exit
vlan 70
name operations
exit
vlan 170
name reception
exit
vlan 180
name helpdesk
exit
vlan 190
name meetings
exit
vlan 200
name common
exit
vlan 900
name native
exit
vlan 999
name blackhole
exit

#########################################
#Configure Access Ports
#########################################
interface range e0/2-3
 switchport mode access
 switchport access vlan 999
 shutdown
 exit

interface range e1/0-3
 switchport mode access
 switchport access vlan 999
 shutdown
 exit

interface range e2/0-3
 switchport mode access
 switchport access vlan 10
 switchport port-security
 switchport port-security maximum 1
 switchport port-security mac-address sticky
 switchport port-security violation restrict
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
 exit

interface range e3/0-3
 switchport mode access
 switchport access vlan 90
 switchport port-security
#  switchport port-security maximum 1
 switchport port-security mac-address sticky
 switchport port-security violation restrict
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
 exit

interface range e4/0-3
 switchport mode access
 switchport access vlan 100
 switchport port-security
 switchport port-security maximum 1
 switchport port-security mac-address sticky
 switchport port-security violation restrict
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
 exit

interface range e5/0-3
 switchport mode access
 switchport access vlan 110
 switchport port-security
#  switchport port-security maximum 1
 switchport port-security mac-address sticky
 switchport port-security violation restrict
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
 exit

interface range e6/0-3
 switchport mode access
 switchport access vlan 120
 switchport port-security
#  switchport port-security maximum 1
 switchport port-security mac-address sticky
 switchport port-security violation restrict
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
 exit

interface range e7/0-3
 switchport mode access
 switchport access vlan 70
 switchport port-security
 switchport port-security maximum 1
 switchport port-security mac-address sticky
 switchport port-security violation restrict
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
 exit

interface range e8/0-3
 switchport mode access
 switchport access vlan 170
 switchport port-security
 switchport port-security maximum 1
 switchport port-security mac-address sticky
 switchport port-security violation restrict
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
 exit

interface range e9/0-3
 switchport mode access
 switchport access vlan 180
 switchport port-security
 switchport port-security maximum 1
 switchport port-security mac-address sticky
 switchport port-security violation restrict
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
 exit

interface range e10/0-3
 switchport mode access
 switchport access vlan 190
 switchport port-security
 switchport port-security maximum 1
 switchport port-security mac-address sticky
 switchport port-security violation restrict
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
 exit

interface range e11/0-3
 switchport mode access
 switchport access vlan 200
 switchport port-security
 switchport port-security maximum 1
 switchport port-security mac-address sticky
 switchport port-security violation restrict
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
 exit

#########################################
#Configure Uplinks
#########################################
interface e0/0
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 10,70,90,100,110,120,170,180,190,200
 switchport trunk native vlan 900
 no spanning-tree portfast
 no spanning-tree bpduguard enable
 no shutdown
 exit

#########################################
#Enable Horizontal link if uplink fails
#########################################
interface e0/1
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 10,70,90,100,110,120,170,180,190,200,900
 switchport trunk native vlan 900
 no spanning-tree portfast
 no spanning-tree bpduguard enable
 spanning-tree cost 9999999
 no shutdown
 exit