#########################################
#VLANs
#########################################
vlan 10
name mgmt
exit
vlan 90
name voip
exit
vlan 100
name print
exit
vlan 110
name wifi-corp
exit
vlan 120
name wifi-guest
exit
vlan 40
name finance
exit
vlan 50
name rrhh
exit
vlan 60
name direction
exit
vlan 150
name legal
exit
vlan 160
name marketing
exit
vlan 900
name native
exit
vlan 999
name blackhole
exit

#########################################
#Configure Access Ports
#########################################
interface range e0/2-3
 switchport mode access
 switchport access vlan 999
 shutdown
 exit

interface range e1/0-3
 switchport mode access
 switchport access vlan 999
 shutdown
 exit

interface range e2/0-3
 switchport mode access
 switchport access vlan 10
 switchport port-security
 switchport port-security maximum 1
 switchport port-security mac-address sticky
 switchport port-security violation restrict
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
 exit

interface range e3/0-3
 switchport mode access
 switchport access vlan 90
 switchport port-security
#  switchport port-security maximum 1
 switchport port-security mac-address sticky
 switchport port-security violation restrict
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
 exit

interface range e4/0-3
 switchport mode access
 switchport access vlan 100
 switchport port-security
 switchport port-security maximum 1
 switchport port-security mac-address sticky
 switchport port-security violation restrict
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
 exit

interface range e5/0-3
 switchport mode access
 switchport access vlan 110
 switchport port-security
#  switchport port-security maximum 1
 switchport port-security mac-address sticky
 switchport port-security violation restrict
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
 exit

interface range e6/0-3
 switchport mode access
 switchport access vlan 120
 switchport port-security
#  switchport port-security maximum 1
 switchport port-security mac-address sticky
 switchport port-security violation restrict
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
 exit

interface range e7/0-3
 switchport mode access
 switchport access vlan 40
 switchport port-security
 switchport port-security maximum 1
 switchport port-security mac-address sticky
 switchport port-security violation restrict
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
 exit

interface range e8/0-3
 switchport mode access
 switchport access vlan 50
 switchport port-security
 switchport port-security maximum 1
 switchport port-security mac-address sticky
 switchport port-security violation restrict
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
 exit

interface range e9/0-3
 switchport mode access
 switchport access vlan 60
 switchport port-security
 switchport port-security maximum 1
 switchport port-security mac-address sticky
 switchport port-security violation restrict
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
 exit

interface range e10/0-3
 switchport mode access
 switchport access vlan 150
 switchport port-security
 switchport port-security maximum 1
 switchport port-security mac-address sticky
 switchport port-security violation restrict
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
 exit

interface range e11/0-3
 switchport mode access
 switchport access vlan 160
 switchport port-security
 switchport port-security maximum 1
 switchport port-security mac-address sticky
 switchport port-security violation restrict
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
 exit

#########################################
#Configure Uplinks
#########################################
interface e0/0
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 10,40,50,60,90,100,110,150,160
 switchport trunk native vlan 900
 no spanning-tree portfast
 no spanning-tree bpduguard enable
 no shutdown
 exit

#########################################
#Enable Horizontal link if uplink fails
#########################################
interface e0/1
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 10,40,50,60,90,100,110,150,160,900
 switchport trunk native vlan 900
 no spanning-tree portfast
 no spanning-tree bpduguard enable
 spanning-tree cost 9999999
 no shutdown
 exit