#VLANs
vlan 10
name mgmt
exit
vlan 40
name finance
exit
vlan 50
name rrhh
exit
vlan 60
name direction
exit
vlan 90
name voip
exit
vlan 100
name print
exit
vlan 110
name wifi-corp
exit
vlan 150
name legal
exit
vlan 160
name marketing
exit
vlan 900
name native
exit
vlan 999
name blackhole
exit