#########################################
#VLANs
#########################################
vlan 10
name mgmt
exit
vlan 90
name voip
exit
vlan 100
name print
exit
vlan 110
name wifi-corp
exit
vlan 120
name wifi-guest
exit
vlan 20
name servers
exit
vlan 210
name cpd
exit
vlan 900
name native
exit
vlan 999
name blackhole
exit