#VLANs
vlan 10
name mgmt
exit
vlan 70
name operations
exit
vlan 90
name voip
exit
vlan 100
name print
exit
vlan 110
name wifi-corp
exit
vlan 120
name wifi-guest
exit
vlan 170
name reception
exit
vlan 180
name helpdesk
exit
vlan 190
name meetings
exit
vlan 200
name common
exit
vlan 900
name native
exit
vlan 999
name blackhole
exit