#VLANs
vlan 10
name mgmt
exit
vlan 40
name finance
exit
vlan 50
name rrhh
exit
vlan 60
name direction
exit
vlan 90
name voip
exit
vlan 100
name print
exit
vlan 110
name wifi-corp
exit
vlan 150
name legal
exit
vlan 160
name marketing
exit
vlan 900
name native
exit
vlan 999
name blackhole
exit

#Enable Horizontal link if uplink fails
interface e0/1
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 10,40,50,60,90,100,110,150,160,900
 switchport trunk native vlan 900
#  switchport nonegotiate
 no spanning-tree portfast
 no spanning-tree bpduguard enable
 spanning-tree cost 9999999