#VLANs
vlan 10
name mgmt
exit
vlan 90
name voip
exit
vlan 100
name print
exit
vlan 110
name wifi-corp
exit
vlan 120
name wifi-guest
exit
vlan 70
name operations
exit
exit
vlan 170
name reception
exit
vlan 180
name helpdesk
exit
vlan 190
name meetings
exit
vlan 200
name common
exit
vlan 900
name native
exit
vlan 999
name blackhole
exit

#Enable Horizontal link if uplink fails
interface e0/1
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 10,70,90,100,110,120,170,180,190,200,900
 switchport trunk native vlan 900
#  switchport nonegotiate
 no spanning-tree portfast
 no spanning-tree bpduguard enable
 spanning-tree cost 9999999