#VLANs
vlan 10
name mgmt
exit
vlan 30
name dev
exit
vlan 80
name soc
exit
vlan 90
name voip
exit
vlan 100
name print
exit
vlan 110
name wifi-corp
exit
vlan 130
name itops
exit
vlan 140
name qa
exit
vlan 900
name native
exit
vlan 999
name blackhole
exit

#Enable Horizontal link if uplink fails
interface e0/1
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 10,30,80,90,100,110,130,140,900
 switchport trunk native vlan 900
#  switchport nonegotiate
 no spanning-tree portfast
 no spanning-tree bpduguard enable
 spanning-tree cost 9999999