#########################################
#Configure OSPF
#########################################
#Loopback Interface
interface Loopback0
 ip address 192.168.74.3 255.255.255.255
 no shutdown
 exit

router ospf 1
 router-id 192.168.74.3
 passive-interface default
 no passive-interface e0/0
 no passive-interface e0/1
 no passive-interface e0/2
 no passive-interface e0/3
 no passive-interface e1/0
 default-information originate
 exit

#########################################
#Configure VLAN Interfaces
#########################################
interface vlan 10
 ip address 192.168.72.3 255.255.255.0
 no shutdown
 exit

interface vlan 90
 ip address 192.168.3.3 255.255.255.0
 no shutdown
 exit

interface vlan 100
 ip address 192.168.4.3 255.255.255.0
 no shutdown
 exit

interface vlan 110
 ip address 192.168.5.3 255.255.255.0
 no shutdown
 exit

interface vlan 120
 ip address 192.168.6.3 255.255.255.0
 no shutdown
 exit

interface vlan 40
 ip address 192.168.33.1 255.255.255.0
 no shutdown
 exit

interface vlan 50
 ip address 192.168.32.1 255.255.255.0
 no shutdown
 exit

interface vlan 60
 ip address 192.168.34.1 255.255.255.0
 no shutdown
 exit

interface vlan 150
 ip address 192.168.35.1 255.255.255.0
 no shutdown
 exit

interface vlan 160
 ip address 192.168.36.1 255.255.255.0
 no shutdown
 exit

#########################################
#Configure Core Uplinks
#########################################
interface e0/0
 no switchport
 ip address 192.168.75.12 255.255.255.254
 ip ospf 1 area 3
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e0/1
 no switchport
 ip address 192.168.75.14 255.255.255.254
 ip ospf 1 area 3
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e0/2
 no switchport
 ip address 192.168.75.16 255.255.255.254
 ip ospf 1 area 3
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

#########################################
#Enable Horizontal link if uplink fails
#########################################
## OSPF with an high cost
interface e0/3
 no switchport
 ip address 192.168.69.7 255.255.255.254
 ip ospf 1 area 0
 ip ospf cost 9999
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e1/0
 no switchport
 ip address 192.168.69.8 255.255.255.254
 ip ospf 1 area 0
 ip ospf cost 9999
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit