#########################################
#Configure OSPF
#########################################
#Loopback Interface
interface Loopback0
 ip address 192.168.74.1 255.255.255.255
 no shutdown
 exit

router ospf 1
 router-id 192.168.74.1
 passive-interface default
 no passive-interface e0/0
 no passive-interface e0/1
 no passive-interface e0/2
 no passive-interface e0/3
 default-information originate
 exit

#########################################
#Configure VLAN Interfaces
#########################################
interface vlan 10
 ip address 192.168.72.1 255.255.255.0
 no shutdown
 exit

interface vlan 90
 ip address 192.168.3.1 255.255.255.0
 no shutdown
 exit

interface vlan 100
 ip address 192.168.4.1 255.255.255.0
 no shutdown
 exit

interface vlan 110
 ip address 192.168.5.1 255.255.255.0
 no shutdown
 exit

interface vlan 120
 ip address 192.168.6.1 255.255.255.0
 no shutdown
 exit

interface vlan 20
 ip address 192.168.0.1 255.255.255.0
 no shutdown
 exit

interface vlan 210
 ip address 192.168.1.1 255.255.255.0
 no shutdown
 exit

#########################################
#Configure Core Uplinks
#########################################
interface e0/0
 no switchport
 ip address 192.168.75.0 255.255.255.254
 ip ospf 1 area 1
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e0/1
 no switchport
 ip address 192.168.75.2 255.255.255.254
 ip ospf 1 area 1
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e0/2
 no switchport
 ip address 192.168.75.4 255.255.255.254
 ip ospf 1 area 1
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

#########################################
#Enable Horizontal link if uplink fails
#########################################
## OSPF with an high cost
interface e0/3
 no switchport
 ip address 192.168.69.4 255.255.255.254
 ip ospf 1 area 0
 ip ospf cost 9999
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

## IP SLA monitorizando el uplink hacia core
# ip sla 1
#  icmp-echo [IP del core] source-interface [interfaz uplink]
#  frequency 5
# ip sla schedule 1 life forever start-time now
# track 1 ip sla 1 reachability

## Ruta normal por uplink
# ip route [red] [mascara] [next-hop core] 1 track 1

## Ruta flotante por horizontal si uplink cae
# ip route [red] [mascara] [next-hop dist horizontal] 254