#########################################
#Configure VLAN Interfaces
#########################################
interface vlan 10
 ip address 192.168.72.4 255.255.255.0
 no shutdown
 exit

interface vlan 90
 ip address 192.168.3.4 255.255.255.0
 no shutdown
 exit

interface vlan 100
 ip address 192.168.4.4 255.255.255.0
 no shutdown
 exit

interface vlan 110
 ip address 192.168.5.4 255.255.255.0
 no shutdown
 exit

interface vlan 120
 ip address 192.168.6.4 255.255.255.0
 no shutdown
 exit

interface vlan 30
 ip address 192.168.48.1 255.255.255.0
 no shutdown
 exit

interface vlan 80
 ip address 192.168.50.1 255.255.255.0
 no shutdown
 exit

interface vlan 130
 ip address 192.168.49.1 255.255.255.0
 no shutdown
 exit

interface vlan 140
 ip address 192.168.51.1 255.255.255.0
 no shutdown
 exit