#########################################
#Configure OSPF
#########################################
#Loopback Interface
interface Loopback0
 ip address 192.168.74.2 255.255.255.255
 no shutdown
 exit

router ospf 1
 router-id 192.168.74.2
 passive-interface default
 no passive-interface e0/0
 no passive-interface e0/1
 no passive-interface e0/2
 no passive-interface e0/3
 no passive-interface e1/0
 default-information originate
 exit

#########################################
#Configure VLAN Interfaces
#########################################
interface vlan 10
 ip address 192.168.72.2 255.255.255.0
 ip ospf 1 area 2
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface vlan 90
 ip address 192.168.3.2 255.255.255.0
 ip ospf 1 area 2
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface vlan 100
 ip address 192.168.4.2 255.255.255.0
 ip ospf 1 area 2
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface vlan 110
 ip address 192.168.5.2 255.255.255.0
 ip ospf 1 area 2
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface vlan 120
 ip address 192.168.6.2 255.255.255.0
 ip ospf 1 area 2
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface vlan 70
 ip address 192.168.20.1 255.255.255.0
 ip ospf 1 area 2
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface vlan 170 
 ip address 192.168.16.1 255.255.255.0
 ip ospf 1 area 2
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface vlan 180
 ip address 192.168.18.1 255.255.255.0
 ip ospf 1 area 2
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface vlan 190
 ip address 192.168.17.1 255.255.255.0
 ip ospf 1 area 2
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface vlan 200
 ip address 192.168.19.1 255.255.255.0
 ip ospf 1 area 2
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

#########################################
#Configure Core Uplinks
#########################################
interface e0/0
 no switchport
 ip address 192.168.75.6 255.255.255.254
 ip ospf 1 area 2
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e0/1
 no switchport
 ip address 192.168.75.8 255.255.255.254
 ip ospf 1 area 2
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e0/2
 no switchport
 ip address 192.168.75.10 255.255.255.254
 ip ospf 1 area 2
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

#########################################
#Enable Horizontal link if uplink fails
#########################################
## OSPF with an high cost
interface e0/3
 no switchport
 ip address 192.168.69.5 255.255.255.254
 ip ospf 1 area 0
 ip ospf cost 9999
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 shutdown
 exit

interface e1/0
 no switchport
 ip address 192.168.69.6 255.255.255.254
 ip ospf 1 area 0
 ip ospf cost 9999
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 shutdown
 exit

## IP SLA when uplinks down
ip sla 1
 icmp-echo 192.168.75.7 source-interface e0/0
 frequency 30
 exit
ip sla schedule 1 life forever start-time now

ip sla 2
 icmp-echo 192.168.75.9 source-interface e0/1
 frequency 30
 exit
ip sla schedule 2 life forever start-time now

ip sla 3
 icmp-echo 192.168.75.11 source-interface e0/2
 frequency 30
 exit
ip sla schedule 3 life forever start-time now

track 1 ip sla 1 reachability
 exit
track 2 ip sla 2 reachability
 exit
track 3 ip sla 3 reachability
 exit

track 10 list boolean and
 object 1 not
 object 2 not
 object 3 not
 exit

## EEM, enable and disable horizontal links depending of the uplinks state
event manager applet HORIZONTAL_ENABLE
 event track 10 state up
 action 1.0 syslog priority warnings msg "ALERT: All uplinks down - activating horizontal link"
 action 2.0 cli command "enable"
 action 3.0 cli command "configure terminal"
 action 4.0 cli command "interface e0/3"
 action 4.1 cli command "no shutdown"
 action 5.0 cli command "interface e1/0"
 action 5.1 cli command "no shutdown"
 action 6.0 cli command "end"
 exit

event manager applet HORIZONTAL_DISABLE
 event track 10 state down
 action 1.0 syslog priority informational msg "INFO: Uplinks restored - disabling horizontal link"
 action 2.0 cli command "enable"
 action 3.0 cli command "configure terminal"
 action 4.0 cli command "interface e0/3"
 action 4.1 cli command "shutdown"
 action 5.0 cli command "interface e1/0"
 action 5.1 cli command "shutdown"
 action 6.0 cli command "end"
 exit