#Configure VLAN Interfaces
interface vlan 10
 ip address 192.168.72.1 255.255.255.0
 no shutdown

interface vlan 90
 ip address 192.168.3.1 255.255.255.0
 no shutdown

interface vlan 100
 ip address 192.168.4.1 255.255.255.0
 no shutdown

interface vlan 110
 ip address 192.168.5.1 255.255.255.0
 no shutdown

interface vlan 120
 ip address 192.168.6.1 255.255.255.0
 no shutdown

interface vlan 20
 ip address 192.168.0.1 255.255.255.0
 no shutdown

interface vlan 210
 ip address 192.168.1.1 255.255.255.0
 no shutdown

#Enable Horizontal link if uplink fails
## STP en la interfaz horizontal
interface [interfaz horizontal]
 switchport mode trunk
 switchport trunk allowed vlan all
 switchport trunk native vlan 900
 switchport nonegotiate
 spanning-tree cost 9999999

## OSPF coste alto en la interfaz horizontal
interface [interfaz horizontal SVI o L3]
 ip ospf cost 9999

## IP SLA monitorizando el uplink hacia core
ip sla 1
 icmp-echo [IP del core] source-interface [interfaz uplink]
 frequency 5
ip sla schedule 1 life forever start-time now
track 1 ip sla 1 reachability

## Ruta normal por uplink
ip route [red] [mascara] [next-hop core] 1 track 1

## Ruta flotante por horizontal si uplink cae
ip route [red] [mascara] [next-hop dist horizontal] 254