#########################################
#Configure VLAN Interfaces
#########################################
interface vlan 10
 ip address 192.168.72.2 255.255.255.0
 no shutdown
 exit

interface vlan 90
 ip address 192.168.3.2 255.255.255.0
 no shutdown
 exit

interface vlan 100
 ip address 192.168.4.2 255.255.255.0
 no shutdown
 exit

interface vlan 110
 ip address 192.168.5.2 255.255.255.0
 no shutdown
 exit

interface vlan 120
 ip address 192.168.6.2 255.255.255.0
 no shutdown
 exit

interface vlan 70
 ip address 192.168.20.1 255.255.255.0
 no shutdown
 exit

interface vlan 170 
 ip address 192.168.16.1 255.255.255.0
 no shutdown
 exit

interface vlan 180
 ip address 192.168.18.1 255.255.255.0
 no shutdown
 exit

interface vlan 190
 ip address 192.168.17.1 255.255.255.0
 no shutdown
 exit

interface vlan 200
 ip address 192.168.19.1 255.255.255.0
 no shutdown
 exit