#########################################
#Configure OSPF
#########################################
# interface Loopback0
#  ip address 192.168.74.11 255.255.255.255
#  no shutdown
#  exit

router ospf 1
 router-id 192.168.74.11
 default-information originate always
 network 192.168.65.0 255.255.255.254 area 0
 network 192.168.65.6 255.255.255.254 area 0
 network 192.168.65.12 255.255.255.254 area 0
 network 192.168.68.0 255.255.255.254 area 0
 neighbor 192.168.65.0 interface csr1
 neighbor 192.168.65.6 interface csr2
 neighbor 192.168.65.12 interface csr-shadow
 neighbor 192.168.68.1 interface inter-connection
 exit

## Solo las interfaces donde pongas ospf area X participarán — 
## el resto queda fuera de OSPF automáticamente, sin necesidad de passive-interface.

#########################################
#Configure Horizontal Links
#########################################
interface g0/6
 nameif inter-connection
 ip address 192.168.68.0 255.255.255.254
#  ip ospf 1 area 0
 ospf network point-to-point non-broadcast
 ospf cost 65535
#  no ip unreachables
 no shutdown
 exit

#########################################
#Configure CSR Uplinks
#########################################
interface g0/7
 nameif csr1
 ip address 192.168.65.1 255.255.255.254
#  ip ospf 1 area 0
 ospf network point-to-point
 ospf cost 10
#  no ip unreachables
 no shutdown
 exit

interface g0/8
 nameif csr2
 ip address 192.168.65.7 255.255.255.254
#  ip ospf 1 area 0
 ospf network point-to-point non-broadcast
 ospf cost 10
#  no ip unreachables
 no shutdown
 exit

interface g0/9
 nameif csr-shadow
 ip address 192.168.65.13 255.255.255.254
#  ip ospf 1 area 0
 ospf network point-to-point non-broadcast
 ospf cost 9999
#  no ip unreachables
 no shutdown
 exit

#########################################
#Configure ISP Uplinks
#########################################
interface g0/0
 nameif isp1-0
 ip address 203.0.113.2 255.255.255.240
 no shutdown
 exit

interface g0/1
 nameif isp1-1
 ip address 203.0.113.18 255.255.255.240
 no shutdown
 exit

interface g0/2
 nameif isp2-0
 ip address 198.51.100.2 255.255.255.240
 no shutdown
 exit

interface g0/3
 nameif isp2-1
 ip address 198.51.100.18 255.255.255.240
 no shutdown
 exit

interface g0/4
 nameif isp3-0
 ip address 192.0.2.2 255.255.255.240
 no shutdown
 exit

interface g0/5
 nameif isp3-1
 ip address 192.0.2.18 255.255.255.240
 no shutdown
 exit

#########################################
#ISP Load Balancing
#########################################
## IP SLA when uplinks down
sla monitor 1
 type echo protocol ipIcmpEcho 203.0.113.1 interface isp1-0
 frequency 30
 exit
sla monitor schedule 1 life forever start-time now

sla monitor 2
 type echo protocol ipIcmpEcho 203.0.113.17 interface isp1-1
 frequency 30
 exit
sla monitor schedule 2 life forever start-time now

sla monitor 3
 type echo protocol ipIcmpEcho 198.51.100.1 interface isp2-0
 frequency 30
 exit
sla monitor schedule 3 life forever start-time now

sla monitor 4
 type echo protocol ipIcmpEcho 198.51.100.17 interface isp2-1
 frequency 30
 exit
sla monitor schedule 4 life forever start-time now

sla monitor 5
 type echo protocol ipIcmpEcho 192.0.2.1 interface isp3-0
 frequency 30
 exit
sla monitor schedule 5 life forever start-time now

sla monitor 6
 type echo protocol ipIcmpEcho 192.0.2.17 interface isp3-1
 frequency 30
 exit
sla monitor schedule 6 life forever start-time now

track 1 rtr 1 reachability
track 2 rtr 2 reachability
track 3 rtr 3 reachability
track 4 rtr 4 reachability
track 5 rtr 5 reachability
track 6 rtr 6 reachability

#########################################
#Configure Static Routes
#########################################
route isp1-0 0.0.0.0 0.0.0.0 203.0.113.1 10 track 1
route isp1-1 0.0.0.0 0.0.0.0 203.0.113.17 10 track 2
route isp2-0 0.0.0.0 0.0.0.0 198.51.100.1 10 track 3
route isp2-1 0.0.0.0 0.0.0.0 198.51.100.17 10 track 4
route isp3-0 0.0.0.0 0.0.0.0 192.0.2.1 50 track 5
route isp3-1 0.0.0.0 0.0.0.0 192.0.2.17 50 track 6