#########################################
#Configure OSPF
#########################################
interface Loopback0
 ip address 192.168.74.12 255.255.255.255
 no shutdown
 exit

router ospf 1
 router-id 192.168.74.12
 passive-interface default
 no passive-interface e0/0
 no passive-interface e0/1
 no passive-interface e0/2
 no passive-interface e0/3
 no passive-interface e0/4
 no passive-interface e0/5
 no passive-interface e0/6
 no passive-interface e0/7
 exit

#########################################
#Configure Horizontal Links
#########################################
interface g0/3
 ip address 192.168.68.1 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface g0/4
 ip address 192.168.68.2 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

#########################################
#Configure Cores Uplinks
#########################################
interface e0/5
 ip address 192.168.66.3 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e0/6
 ip address 192.168.66.9 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e0/7
 ip address 192.168.66.15 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

#########################################
#Configure CSR Uplinks
#########################################
interface e0/0
 ip address 192.168.65.6 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e0/1
 ip address 192.168.65.8 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e0/2
 ip address 192.168.65.10 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit