#########################################
#Configure OSPF
#########################################
# interface Loopback0
#  ip address 192.168.74.12 255.255.255.255
#  no shutdown
#  exit

router ospf 1
 router-id 192.168.74.12
 exit

#########################################
#Configure Horizontal Links
#########################################
interface g0/3
 ip address 192.168.68.1 255.255.255.254
#  ip ospf 1 area 0
 ospf network point-to-point non-broadcast
 ospf cost 65535
#  no ip unreachables
 shutdown
 exit

interface g0/4
 ip address 192.168.68.2 255.255.255.254
#  ip ospf 1 area 0
 ospf network point-to-point non-broadcast
 ospf cost 65535
#  no ip unreachables
 shutdown
 exit

#########################################
#Configure Cores Uplinks
#########################################
interface g0/5
 nameif core1
 ip address 192.168.66.3 255.255.255.254
#  ip ospf 1 area 0
 ospf network point-to-point non-broadcast
 ospf cost 10
#  no ip unreachables
 no shutdown
 exit

interface g0/6
 nameif core2
 ip address 192.168.66.9 255.255.255.254
#  ip ospf 1 area 0
 ospf network point-to-point non-broadcast
 ospf cost 10
#  no ip unreachables
 no shutdown
 exit

interface g0/7
 nameif core-shadow
 ip address 192.168.66.15 255.255.255.254
#  ip ospf 1 area 0
 ospf network point-to-point non-broadcast
 ospf cost 9999
#  no ip unreachables
 no shutdown
 exit

#########################################
#Configure CSR Uplinks
#########################################
interface g0/0
 nameif csr1
 ip address 192.168.65.6 255.255.255.254
#  ip ospf 1 area 0
 ospf network point-to-point non-broadcast
 ospf cost 10
#  no ip unreachables
 no shutdown
 exit

interface g0/1
 nameif csr2
 ip address 192.168.65.8 255.255.255.254
#  ip ospf 1 area 0
 ospf network point-to-point non-broadcast
 ospf cost 10
#  no ip unreachables
 no shutdown
 exit

interface g0/2
 nameif csr-shadow
 ip address 192.168.65.10 255.255.255.254
#  ip ospf 1 area 0
 ospf network point-to-point non-broadcast
 ospf cost 9999
#  no ip unreachables
 no shutdown
 exit

#########################################
#Enable Horizontal link if uplink fails
#########################################
## IP SLA when uplinks down
sla monitor 1
 type echo protocol ipIcmpEcho 192.168.65.7 interface csr1
 frequency 30
 exit
sla monitor schedule 1 life forever start-time now

sla monitor 2
 type echo ipIcmpEcho 192.168.65.9 interfce csr2
 frequency 30
 exit
sla monitor schedule 2 life forever start-time now

sla monitor 3
 type echo ipIcmpEcho 192.168.65.11 interface csr-shadow
 frequency 30
 exit
sla monitor schedule 3 life forever start-time now

track 1 ip sla 1 reachability
 exit
track 2 ip sla 2 reachability
 exit
track 3 ip sla 3 reachability
 exit

track 10 list boolean and
 object 1 not
 object 2 not
 object 3 not
 exit

## EEM, enable and disable horizontal links depending of the uplinks state
event manager applet HORIZONTAL_ENABLE
 event track 10 state up
 action 1.0 syslog priority warning msg "ALERT: All uplinks down - activating horizontal link"
 action 2.0 cli command "enable"
 action 3.0 cli command "configure terminal"
 action 4.0 cli command "interface e0/3"
 action 4.1 cli command "no shutdown"
 action 5.0 cli command "interface e0/4"
 action 5.1 cli command "no shutdown"
 action 6.0 cli command "end"
 exit

event manager applet HORIZONTAL_DISABLE
 event track 10 state down
 action 1.0 syslog priority informational msg "INFO: Uplinks restored - disabling horizontal link"
 action 2.0 cli command "enable"
 action 3.0 cli command "configure terminal"
 action 4.0 cli command "interface e0/3"
 action 4.1 cli command "shutdown"
 action 5.0 cli command "interface e0/4"
 action 5.1 cli command "shutdown"
 action 6.0 cli command "end"
 exit

#########################################
#Enable Shadow link If CSR Active links fails
#########################################
## Track from IP SLA
track 11 list boolean or
 object 1 not
 object 2 not
 exit

## EEM, modify link cost depending of the active links state
event manager applet DECREASE_CSR_SHADOW_COST
 event track 11 state up
 action 1.0 syslog priority warnings msg "EEM ALERT: CSR Shadow link cost decreased; backup link activated in ECMP"
 action 2.0 cli command "enable"
 action 3.0 cli command "configure terminal"
 action 4.0 cli command "interface e0/2"
 action 4.1 cli command "ip ospf cost 10"
 action 5.0 cli command "end"
 exit

event manager applet INCREASE_CSR_SHADOW_COST
 action 1.0 syslog priority warnings msg "EEM ALERT: CSR Shadow link cost increased; backup link returned to standby mode"
 action 2.0 cli command "enable"
 action 3.0 cli command "configure terminal"
 action 4.0 cli command "interface e0/2"
 action 4.1 cli command "ip ospf cost 9999"
 action 5.0 cli command "end"
 exit

#########################################
#Enable Shadow link If Core Active links fails
#########################################
## IP SLA when downlinks down
sla monitor 4
 type echo protocol ipIcmpEcho 192.168.66.2 interface core1
 frequency 30
 exit
sla monitor schedule 4 life forever start-time now

sla monitor 5
 type echo protocol ipIcmpEcho 192.168.66.8 interface core2
 frequency 30
 exit
sla monitor schedule 5 life forever estart-time now

track 1 ip sla 1 reachability
 exit
track 2 ip sla 2 reachability
 exit

track 12 list boolean or
 object 4 not
 object 5 not
 exit

## EEM, modify link cost depending of the active links state
event manager applet DECREASE_CORE_SHADOW_COST
 event track 12 state up
 action 1.0 syslog priority warnings msg "EEM ALERT: CORE Shadow link cost decreased; backup link activated in ECMP"
 action 2.0 cli command "enable"
 action 3.0 cli command "configure terminal"
 action 4.0 cli command "interface g0/7"
 action 4.1 cli command "ip ospf cost 10"
 action 5.0 cli command "end"
 exit

event manager applet INCREASE_CORE_SHADOW_COST
 event track 12 state down
 action 1.0 syslog priority warnings msg "EEM ALERT: CORE Shadow link cost increased; backup link returned to standby mode"
 action 2.0 cli command "enable"
 action 3.0 cli command "configure terminal"
 action 4.0 cli command "interface g0/7"
 action 4.1 cli command "ip ospf cost 9999"
 action 5.0 cli command "end"