#########################################
#Change Connection Close Timeout
#########################################
##This option close all connections from connection tables in 1 minute when a better routing path appears
timeout floating-conn 0:01:00