#########################################
#Configure OSPF
#########################################
interface Loopback0
 ip address 192.168.74.13 255.255.255.255
 no shutdown
 exit

router ospf 1
 router-id 192.168.74.13
 passive-interface default
 no passive-interface e0/0
 no passive-interface e0/1
 no passive-interface e0/2
 no passive-interface e0/4
 no passive-interface e0/5
 no passive-interface e0/6
 exit

#########################################
#Configure Cores Uplinks
#########################################
interface e0/4
 ip address 192.168.66.5 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e0/5
 ip address 192.168.66.11 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e0/6
 ip address 192.168.66.17 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

#########################################
#Configure CSR Uplinks
#########################################
interface e0/0
 ip address 192.168.65.12 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e0/1
 ip address 192.168.65.14 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e0/2
 ip address 192.168.65.16 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit