#VLANs
vlan 10
name mgmt
exit
vlan 20
name servers
exit
vlan 30
name dev
exit
vlan 40
name finance
exit
vlan 50
name rrhh
exit
vlan 60
name direction
exit
vlan 70
name operations
exit
vlan 80
name soc
exit
vlan 90
name voip
exit
vlan 100
name print
exit
vlan 110
name wifi-corp
exit
vlan 120
name wifi-guest
exit
vlan 130
name itops
exit
vlan 140
name qa
exit
vlan 150
name legal
exit
vlan 160
name marketing
exit
vlan 170
name reception
exit
vlan 180
name helpdesk
exit
vlan 190
name meetings
exit
vlan 200
name common
exit
vlan 210
name cpd
exit
vlan 900
name native
exit
vlan 999
name blackhole
exit