#########################################
#Enable Layer 3 options
#########################################
ip routing

#########################################
#Change CEF default for ECMP
#########################################
##This option creates a Hash using de IP dest + IP origin + Random ID
ip cef load-sharing algorithm universal