#########################################
#VTP config
#########################################
vtp mode server
vtp domain NEXACORE
vtp version 3
vtp password h4&2NoDlrEsMY51^ZjV7y*Y^#*6W5Z

#########################################
#Configure OSPF
#########################################
#Loopback Interface
interface Loopback0
 ip address 192.168.74.6 255.255.255.255
 no shutdown
 exit

router ospf 1
 router-id 192.168.74.6
 passive-interface default
 no passive-interface e0/0
 no passive-interface e0/1
 no passive-interface e0/2
 no passive-interface e0/3
 no passive-interface e1/0
 no passive-interface e1/1
 no passive-interface e1/2
 no passive-interface e1/3
 no passive-interface e2/0
 default-information originate
 exit

#########################################
#Configure Horizontal Links
#########################################
interface e0/3
 no switchport
 ip address 192.168.69.1 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e1/0
 no switchport
 ip address 192.168.69.2 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

#########################################
#Configure ASAv Uplinks
#########################################
interface e0/0
 no switchport
 ip address 192.168.75.30 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e0/1
 no switchport
 ip address 192.168.75.32 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e0/2
 no switchport
 ip address 192.168.75.34 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

#########################################
#Configure Distribution Uplinks
#########################################
interface e1/1
 no switchport
 ip address 192.168.75.3 255.255.255.254
 ip ospf 1 area 1
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e1/2
 no switchport
 ip address 192.168.75.9 255.255.255.254
 ip ospf 1 area 2
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e1/3
 no switchport
 ip address 192.168.75.15 255.255.255.254
 ip ospf 1 area 3
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e2/0
 no switchport
 ip address 192.168.75.21 255.255.255.254
 ip ospf 1 area 4
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit