#########################################
#VTP config
#########################################
vtp mode server
vtp domain NEXACORE
vtp version 3
vtp password h4&2NoDlrEsMY51^ZjV7y*Y^#*6W5Z
vtp primary vlan

#########################################
#VLANs
#########################################
vlan 10
name mgmt
exit
vlan 20
name servers
exit
vlan 30
name dev
exit
vlan 40
name finance
exit
vlan 50
name rrhh
exit
vlan 60
name direction
exit
vlan 70
name operations
exit
vlan 80
name soc
exit
vlan 90
name voip
exit
vlan 100
name print
exit
vlan 110
name wifi-corp
exit
vlan 120
name wifi-guest
exit
vlan 130
name itops
exit
vlan 140
name qa
exit
vlan 150
name legal
exit
vlan 160
name marketing
exit
vlan 170
name reception
exit
vlan 180
name helpdesk
exit
vlan 190
name meetings
exit
vlan 200
name common
exit
vlan 210
name cpd
exit
vlan 900
name native
exit
vlan 999
name blackhole
exit

#########################################
#Configure OSPF
#########################################
#Loopback Interface
interface Loopback0
 ip address 192.168.74.5 255.255.255.255
 no shutdown
 exit

router ospf 1
 router-id 192.168.74.5
 passive-interface default
 no passive-interface e0/0
 no passive-interface e0/1
 no passive-interface e0/2
 no passive-interface e0/3
 no passive-interface e1/0
 no passive-interface e1/1
 no passive-interface e1/2
 no passive-interface e1/3
 exit

#########################################
#Configure Horizontal Links
#########################################
interface e0/3
 no switchport
 ip address 192.168.69.0 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

#########################################
#Configure ASAv Uplinks
#########################################
interface e0/0
 no switchport
 ip address 192.168.75.24 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e0/1
 no switchport
 ip address 192.168.75.26 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e0/2
 no switchport
 ip address 192.168.75.28 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

#########################################
#Configure Distribution Uplinks
#########################################
interface e1/0
 no switchport
 ip address 192.168.75.1 255.255.255.254
 ip ospf 1 area 1
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e1/1
 no switchport
 ip address 192.168.75.7 255.255.255.254
 ip ospf 1 area 2
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e1/2
 no switchport
 ip address 192.168.75.13 255.255.255.254
 ip ospf 1 area 3
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e1/3
 no switchport
 ip address 192.168.75.19 255.255.255.254
 ip ospf 1 area 4
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit