#########################################
#VTP config
#########################################
vtp mode server
vtp domain NEXACORE
vtp version 3
vtp password h4&2NoDlrEsMY51^ZjV7y*Y^#*6W5Z

#########################################
#Configure OSPF
#########################################
#Loopback Interface
interface Loopback0
 ip address 192.168.74.6 255.255.255.255
 no shutdown
 exit

router ospf 1
 router-id 192.168.74.6
 passive-interface default
 auto-cost reference-bandwidth 10000
 no passive-interface e0/0
 no passive-interface e0/1
 no passive-interface e0/2
 no passive-interface e0/3
 no passive-interface e1/0
 no passive-interface e1/1
 no passive-interface e1/2
 no passive-interface e1/3
 no passive-interface e2/0
 exit

#########################################
#Configure Horizontal Links
#########################################
interface e0/3
 no switchport
 ip address 192.168.69.1 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 ip ospf cost 65535
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 shutdown
 exit

interface e1/0
 no switchport
 ip address 192.168.69.2 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 ip ospf cost 65535
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 shutdown
 exit

#########################################
#Configure ASAv Uplinks
#########################################
interface e0/0
 no switchport
 ip address 192.168.66.6 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 ip ospf cost 10
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e0/1
 no switchport
 ip address 192.168.66.8 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 ip ospf cost 10
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e0/2
 no switchport
 ip address 192.168.66.10 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 ip ospf cost 9999
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

#########################################
#Configure Distribution Uplinks
#########################################
interface e1/1
 no switchport
 ip address 192.168.75.3 255.255.255.254
 ip ospf 1 area 1
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e1/2
 no switchport
 ip address 192.168.75.9 255.255.255.254
 ip ospf 1 area 2
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e1/3
 no switchport
 ip address 192.168.75.15 255.255.255.254
 ip ospf 1 area 3
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e2/0
 no switchport
 ip address 192.168.75.21 255.255.255.254
 ip ospf 1 area 4
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

#########################################
#Enable Horizontal link if uplink fails
#########################################
## IP SLA when uplinks down
ip sla 1
 icmp-echo 192.168.66.7 source-interface e0/0
 frequency 30
 exit
ip sla schedule 1 life forever start-time now

ip sla 2
 icmp-echo 192.168.66.9 source-interface e0/1
 frequency 30
 exit
ip sla schedule 2 life forever start-time now

ip sla 3
 icmp-echo 192.168.66.11 source-interface e0/2
 frequency 30
 exit
ip sla schedule 3 life foerver start-time now

track 1 ip sla 1 reachability
 exit
track 2 ip sla 2 reachability
 exit
track 3 ip sla 3 reachability
 exit

track 10 list boolean and
 object 1 not
 object 2 not
 object 3 not
 exit

## EEM, enable and disable horizontal links depending of the uplinks state
event manager applet HORIZONTAL_ENABLE
 event track 10 state up
 action 1.0 syslog priority warning msg "ALERT: All uplinks down - activating horizontal link"
 action 2.0 cli command "enable"
 action 3.0 cli command "configure terminal"
 action 4.0 cli command "interface e0/3"
 action 4.1 cli command "no shutdown"
 action 5.0 cli command "interface e1/0"
 action 5.1 cli command "no shutdown"
 action 6.0 cli command "end"
 exit

event manager applet HORIZONTAL_DISABLE
 event track 10 state down
 action 1.0 syslog priority informational msg "INFO: Uplinks restored - disabling horizontal link"
 action 2.0 cli command "enable"
 action 3.0 cli command "configure terminal"
 action 4.0 cli command "interface e0/3"
 action 4.1 cli command "shutdown"
 action 5.0 cli command "interface e1/0"
 action 5.1 cli command "shutdown"
 action 6.0 cli command "end"
 exit

#########################################
#Enable Shadow link Active links fails
#########################################
## Track from IP SLA
track 11 list boolean or
 object 1 not
 object 2 not
 exit

## EEM, modify link cost depending of the active links state
event manager applet DECREASE_SHADOW_COST
 event track 11 state up
 action 1.0 syslog priority warnings msg "EEM ALERT: Shadow link cost decreased; backup link activated in ECMP"
 action 2.0 cli command "enable"
 action 3.0 cli command "configure terminal"
 action 4.0 cli command "interface e0/2"
 action 4.1 cli command "ip ospf cost 10"
 action 5.0 cli command "end"
 exit

event manager applet INCREASE_SHADOW_COST
 event track 11 state down
 action 1.0 syslog priority warnings msg "EEM ALERT: Shadow link cost increased; backup link returned to standby mode"
 action 2.0 cli command "enable"
 action 3.0 cli command "configure terminal"
 action 4.0 cli command "interface e0/2"
 action 4.1 cli command "ip ospf cost 9999"
 action 5.0 cli command "end"