# Escenario 2 — Caen Core1 y Core2:
# Core1 y Core2 caen
# ↓
# Core-Shadow (Transparent) no tiene la BD de VLANs
# ↓ PROBLEMA
# SW-DIS-* (Client) mantienen VLANs en RAM mientras estén encendidos
# ↓
# Si los DIS no se han reiniciado, la red sigue funcionando
# ↓
# Cuando Core1 o Core2 vuelven, todo se sincroniza
# Este es el único punto débil — si Core-Shadow entra en producción como sustituto no puede actuar como Primary porque está en Transparent.
# La solución:
# Cuando Core-Shadow entra en producción por fallo masivo, el administrador ejecuta manualmente:
# Core-Shadow(config)# vtp mode server
# Core-Shadow# vtp primary vlan

#########################################
#VTP config
#########################################
vtp mode transparent
vtp domain NEXACORE
vtp version 3
vtp password h4&2NoDlrEsMY51^ZjV7y*Y^#*6W5Z

#########################################
#Configure Horizontal Links
#########################################
interface e0/3
 no switchport
 ip address 192.168.69.3 255.255.255.254
 ip ospf 1 area 0
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

#########################################
#Configure Distribution Uplinks
#########################################
interface e1/2
 no switchport
 ip address 192.168.75.5 255.255.255.254
 ip ospf 1 area 1
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e1/0
 no switchport
 ip address 192.168.75.11 255.255.255.254
 ip ospf 1 area 2
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e1/1
 no switchport
 ip address 192.168.75.17 255.255.255.254
 ip ospf 1 area 3
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

interface e1/3
 no switchport
 ip address 192.168.75.23 255.255.255.254
 ip ospf 1 area 4
 ip ospf network point-to-point
 no ip proxy-arp
 no ip redirects
 no ip unreachables
 no shutdown
 exit

#########################################
#Configure OSPF
#########################################
#Loopback Interface
interface Loopback0
 ip address 192.168.74.7 255.255.255.255
 no shutdown
 exit

router ospf 1
 router-id 192.168.74.7
 passive-interface default
 no passive-interface e0/0
 no passive-interface e0/1
 no passive-interface e0/2
 no passive-interface e0/3
 no passive-interface e1/0
 no passive-interface e1/1
 no passive-interface e1/2
 no passive-interface e1/3
 default-information originate
 exit