#########################################
#VTP config
#########################################
vtp mode server
vtp domain NEXACORE
vtp version 3
vtp password h4&2NoDlrEsMY51^ZjV7y*Y^#*6W5Z

#########################################
#Configure Distribution Uplinks
#########################################
interface e1/1
 no switchport
 ip address 192.168.75.3 255.255.255.254
 no shutdown
 exit

interface e1/2
 no switchport
 ip address 192.168.75.9 255.255.255.254
 no shutdown
 exit

interface e1/3
 no switchport
 ip address 192.168.75.15 255.255.255.254
 no shutdown
 exit

interface e2/0
 no switchport
 ip address 192.168.75.21 255.255.255.254
 no shutdown
 exit